  <!--START: BODY_HEADER-->
  <div class="page_headers">[htmlpage]</div>
  <div class="page_crumbs">[PAGE_FULLLINE]</div>
  <!--END: BODY_HEADER-->
  
  <div class="page_text">
  
    <!--START: SUB_PAGES-->              
    <table width="95%" cellspacing="0" cellpadding="2" border="0">
      <!--START: SUB_PAGES_FORMAT-->
      <tr>
		<td class="data"> 
		  - <a href="infopage.asp?page=[id]&extra=[extra]">[sub_pages_title]</a>
	    </td>
      </tr>
      <!--END: SUB_PAGES_FORMAT-->
      <tr><td>&nbsp;</td></tr>
    </table>
    <!--END: SUB_PAGES-->
  
    [content]
  
  </div>