<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>[TITLE]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    [META]
    <script language="JavaScript" src="assets/templates/common/js/utilities.js" type="text/JavaScript"></script>
    <link rel="StyleSheet" href="assets/templates/[template]/css/[stylesheet]" type="text/css" media="screen" />
    <link rel="StyleSheet" href="assets/templates/common/js/tabs.css" type="text/css" media="screen" />
    <meta name="google-site-verification" content="zMnvg5mbcK2frn6-2FjWeYxR6mrci5vOLJffqQlC3fA" />
    <!--START: FRAME_RSSFEEDS -->
    <link rel="alternate" type="application/rss+xml" title="Featured Items (RSS 2.0)" href="[store_url]/rss.asp?type=home" />
    <link rel="alternate" type="application/rss+xml" title="Products On Sale (RSS 2.0)" href="[store_url]/rss.asp?type=onsale" />
    <link rel="alternate" type="application/rss+xml" title="New Releases (RSS 2.0)" href="[store_url]/rss.asp?type=newreleases" />
    <link rel="alternate" type="application/rss+xml" title="Best Sellers (RSS 2.0)" href="[store_url]/rss.asp?type=bestsellers" />
    <link rel="alternate" type="application/rss+xml" title="Latest Blog Posts (RSS 2.0)" href="[store_url]/rss.asp?type=blog" />
    <!--START: RSSFEEDS_CATEGORIES-->
    <link rel="alternate" type="application/rss+xml" title="[category_name] (RSS 2.0)" href="[store_url]/rss.asp?type=category&catid=[catid]" />
    <!--END: RSSFEEDS_CATEGORIES-->
    <!--END: FRAME_RSSFEEDS -->
    <link href="assets/templates/xmas/css/frame.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" href="http://www.primaflyers.com/favicon.gif" />
    <script src="assets/templates/xmas/scripts/jquery.min.js" language="javascript" type="text/javascript"></script>
    <script src="assets/templates/xmas/scripts/jquery.bgpos.js" language="javascript" type="text/javascript"></script>
    <script src="assets/templates/xmas/scripts/jquery.tools.js" language="javascript" type="text/javascript"></script>
    <script src="assets/templates/xmas/scripts/cufon-yui.js" language="javascript" type="text/javascript"></script>
    <script src="assets/templates/xmas/scripts/cufon-neuestdthin.js" language="javascript" type="text/javascript"></script>
    <script src="assets/templates/xmas/scripts/cufon-helveticalight.js" language="javascript" type="text/javascript"></script>
    <script src="assets/templates/xmas/scripts/jquery.dropmenu.js" language="javascript" type="text/javascript"></script>
    <script src="assets/templates/xmas/scripts/functions-frame.js" language="javascript" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21355949-1']);
  _gaq.push(['_setDomainName', '.primaflyers.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
    <div id="top_bar_wrap"></div>
    <div id="header_wrap">
    <div id="header_snowman">
    <div id="header">
      <div id="slide_flyers_small">
        <div id="logo">
          <a href="http://www.primaflyers.com/"><img src="assets/templates/xmas/images/logo.png" width="217" height="80" alt="PRIMAFlyers" /></a>
        </div>
        <div id="top_navigation">
		  <ul>
            <li><a href="http://www.primaflyers.com/myaccount.asp"><span id="top_nav_account">My Account</span></a></li>
            <li><a href="http://www.primaflyers.com/myaccount.asp"><span id="top_nav_login">Login</span></a></li>
            <li><a href="http://www.primaflyers.com/view_cart.asp"><span id="top_nav_cart">Shopping Cart</span></a></li>
            <li><a href="http://www.primaflyers.com/myaccount.asp"><span id="top_nav_order">Order Status</span></a></li>
            <li><a href="http://www.primaflyers.com/faq.html"><span id="top_nav_faq">FAQ</span></a></li>
            <li><a href="http://www.primaflyers.com/contact-us.html"><span id="top_nav_contact">Contact</span></a></li>
            <li><a href="http://eepurl.com/fDcPM" target="_blank"><span id="top_nav_emails">Join Our Newsletter!</span></a></li>
          </ul>
        </div>
        <div id="slide_buttons_small">
          <a id="button_1" href="http://www.primaflyers.com/4x6-flyers.html"></a>
          <a id="button_2" href="http://www.primaflyers.com/business-cards.html"></a>
          <a id="button_3" href="http://www.primaflyers.com/posters.html"></a>
          <a id="button_4" href="http://www.primaflyers.com/cd-inserts.html"></a>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div id="middle_bar_wrap"></div>
    <div id="content">
      <div id="middle_bar_nav">
        <ul>
          <li><a href="http://www.primaflyers.com/"><span id="mid_nav_home">Home</span></a></li>
          <li><a href="http://www.primaflyers.com/products-and-pricing.html"><span id="mid_nav_products">Products &amp; Pricing</span></a></li>
          <li><a href="http://www.primaflyers.com/templates.html"><span id="mid_nav_templates">Templates</span></a></li>
          <li><a href="http://www.primaflyers.com/print-101.html"><span id="mid_nav_print">Print 101</span></a></li>
          <li><a href="http://www.primaflyers.com/turnaround.html"><span id="mid_nav_turnaround">Turnaround</span></a></li>
          <li><a href="http://www.primaflyers.com/faq.html"><span id="mid_nav_faq">FAQ</span></a></li>
          <li><a href="http://www.primaflyers.com/contact-us.html"><span id="mid_nav_contact">Contact</span></a></li>
          <li><a href="http://blog.primaflyers.com/"><span id="mid_nav_blog">Blog</span></a></li>
        </ul>
      </div>
      <div id="middle_bar_buttons">
        <a href="http://www.primaflyers.com/contact-us.html"><span id="middle_contact"></span></a>
        <a href="http://chat.primaflyers.com"><span id="middle_chat"></span></a>
      </div>
    
      <br style="clear: both;" />

      <div id="left_content">
        
        <!--START: LEFT BAR-->

          <!--START: LEFT_BAR_BLOCKS-->
                
            <!--START: FRAME_CATEGORY-->
            <div id="left_navigation">
              <ul id="left_navigation_list">
              <!--START: CATEGORIES-->
                <!--START: CATEGORY_FORMAT-->
                <li><a href="view_category.asp?cat=CATID" class="cat">CATEGORY</a>
                  <ul>
                    <!--END: CATEGORY_FORMAT-->
                    <!--START: SUB_CATEGORY_FORMAT-->
                    <li><a href="view_category.asp?cat=CATID" class="subcat">CATEGORY</a></li>
                    <!--END: SUB_CATEGORY_FORMAT-->
                  </ul>
                </li>
              <!--END: CATEGORIES-->
              </ul>
            </div>
            <!--END: FRAME_CATEGORY-->
                
                <!--START: FRAME_MANUFACTURER-->
                <table width="178" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="mod_bg"><TABLE width="100%" cellspacing="0" cellpadding="0" border="0">
                        <form name="mfg" id="mfg" method="get" action="search_groups.asp" STYLE="margin: 0px; padding: 0px;">
                          <tr>
                            <td class="menu-headers" style="padding: 0px 0px 0px 16px;">[frame_manufacturer]</td>
                          </tr>
                          <!--START: manufacturer_format-->
                          <tr>
                            <td height="20" style="padding: 0px 0px 0px 15px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><a href="search_groups.asp?manf=[mfgid]" class="cat" style="line-height:32px;">[manufacturer]</a></td>
                                </tr>
                              </table></td>
                          </tr>
                          <!--END: manufacturer_format-->
                          <!--
                        <tr>
                          <td align="center" valign="middle" height="50"><select name="manf" onChange="this.form.submit();" ID="Select1"  class="txtBoxStyle" style="width:140px;">
                              <option value=0 selected class="txtBoxStyle">Manufacturer</option>
                              <!-START: manufacturer_format->
                              <option value=[mfgid] class="txtBoxStyle">[manufacturer]</option>
                              <!-END: manufacturer_format->
                            </select></td>
                        </tr>
                        -->
                        </form>
                      </TABLE></td>
                  </tr>
                </table>
                <div><img src="assets/templates/common/images/spacer.gif" width="1" height="11"></div>
                <!--END: FRAME_MANUFACTURER-->
                <!--START: FRAME_BYPRICE-->
                <table width="178" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="mod_bg"><TABLE width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                          <td class="menu-headers" style="padding: 0px 0px 0px 16px;">[frame_byprice]</td>
                        </tr>
                        <!--START: byprice_format-->
                        <tr>
                          <td height="20" style="padding: 0px 0px 0px 15px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td><a href="search_groups.asp?keyword=[id]&byprice=[id]" class="cat" style="line-height:32px;">[title]</a></td>
                              </tr>
                            </table></td>
                        </tr>
                        <!--END: byprice_format-->
                      </TABLE></td>
                  </tr>
                </table>
                <div><img src="assets/templates/common/images/spacer.gif" width="1" height="11"></div>
                <!--END: FRAME_BYPRICE-->
                <!--START: NEW_RELEASES_BLOCK-->
                <table width="178" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="mod_bg" align="center"><table cellpadding="2" cellspacing="0" border="0">
                        <tr>
                          <td colspan="2" class="menu-headers" style="padding: 0px 0px 0px 16px;">[frame_new-releases]</td>
                        </tr>
                        <!--START: newreleases-->
                        <!--START: newreleases_topitem-->
                        <tr>
                          <td><table cellpadding="2" cellspacing="0" border="0" width="100%">
                              <tr>
                                <td width="70" rowspan="5" valign="top"><a href="product.asp?itemid=[catalogid]"><img src="thumbnail.asp?file=[thumbnail]&maxx=63&maxy=0" alt="[name]" hspace="10" border="0"></a></td>
                                <td class="item"><a href="product.asp?itemid=[catalogid]" class="cat">[name]</a></td>
                              </tr>
                              <tr>
                                <td class="price"><!--START: ITEMPRICE-->
                                  [ITEMPRICE]<br>
                                  <!--END: ITEMPRICE-->
                                  <!--START: SALEPRICE-->
                                  <s>[ITEMPRICE]</s><br>
                                  [ITEMSALEPRICE]
                                  <!--END: SALEPRICE--></td>
                              </tr>
                              <tr>
                                <td><!--START: product_review_average-->
                                  <img src="assets/templates/common/images/star[review_average].png" border="0" alt="">
                                  <!--END: product_review_average--></td>
                              </tr>
                              <tr>
                                <td><a href="product.asp?itemid=[catalogid]" class="details">more details</a></td>
                              </tr>
                            </table></td>
                        </tr>
                        <!--END: newreleases_topitem-->
                        <!--START: newreleases_item-->
                        <tr>
                          <td align="center" class="item"><img src="assets/templates/[template]/images/div.png" alt="" vspace="10"></td>
                        </tr>
                        <tr>
                          <td style="padding: 0px 10px 0px 10px;"><table width="100%" border="0" cellpadding="4" cellspacing="0">
                              <tr>
                                <td class="item"><a href="product.asp?itemid=[catalogid]" class="cat">[name]</a></td>
                              </tr>
                              <tr>
                                <td class="item"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td width="50%" align="left" class="price"><!--START: ITEMPRICE-->
                                        [ITEMPRICE]<br>
                                        <!--END: ITEMPRICE-->
                                        <!--START: SALEPRICE-->
                                        <s>[ITEMPRICE]</s><br>
                                        [ITEMSALEPRICE]
                                        <!--END: SALEPRICE--></td>
                                      <td width="50%" align="right"><!--START: product_review_average-->
                                        <img src="assets/templates/common/images/star[review_average].png" border="0" alt="">
                                        <!--END: product_review_average--></td>
                                    </tr>
                                  </table></td>
                              </tr>
                            </table></td>
                        </tr>
                        <!--END: newreleases_item-->
                        <!--END: newreleases-->
                      </table></td>
                  </tr>
                </table>
                <div><img src="assets/templates/common/images/spacer.gif" width="1" height="11"></div>
                <!--END: NEW_RELEASES_BLOCK-->
                <!--START: FRAME_MAILLIST-->
                <table width="178" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="mod_bg"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <form method="post" name="mailing" action="mailing_list.asp?action=add" onSubmit="return mailing_list();" STYLE="margin: 0px; padding: 0px;">
                          <tr>
                            <td colspan="2" class="menu-headers" style="padding: 0px 0px 0px 16px;">[frame_mailinglist]</td>
                          </tr>
                          <tr>
                            <td class="menu-text" colspan="2" style="padding: 10px 12px 10px 12px;">[mailinglist_text]</td>
                          </tr>
                          <tr>
                            <td width="75%" style="padding: 5px 12px 5px 12px;"><input name="email" type="text" class="txtBoxStyle" value="enter email" size="18" onFocus="javascript:if (document.mailing.email.value=='enter email') {document.mailing.email.value='';};"  onBlur="if(this.value.length == 0) this.value = 'enter email'"></td>
                            <td width="25%" align="left"><input type="submit" name="www" value="[mailinglist_button]"></td>
                          </tr>
                          <tr>
                            <td class="menu-text" colspan="2" align="left" style="padding-left:10px;"><input name="subscribe" value="1" checked="checked" type="radio">
                              [mailinglist_subscribe]</td>
                          </tr>
                          <tr>
                            <td class="menu-text" colspan="2" align="left" style="padding-left:10px;"><input name="subscribe" value="0" type="radio">
                              [mailinglist_unsubscribe]</td>
                          </tr>
                        </form>
                      </table></td>
                  </tr>
                </table>
                <div><img src="assets/templates/common/images/spacer.gif" width="1" height="11"></div>
                <!--END: FRAME_MAILLIST-->
                
              <!--END: LEFT_BAR_BLOCKS-->
            </td>
        
          <a href="#">
            <img src="assets/templates/xmas/images/xmas-hours-sm.jpg" width="170" height="95" alt="Prima will be closed on Saturday December 24th, 26th, and January 2nd!" />
          </a>
          
          <!--
          <a href="http://www.primaflyers.com/calendars.html">
            <img src="assets/templates/xmas/images/calendar_v3_sm.jpg" width="170" height="95" alt="Calendars just in time for 2012! Starting at $25!" />
          </a>
          -->
          
          <a href="http://www.primaflyers.com/holiday.asp">
            <img src="assets/templates/xmas/images/greeting-cards-small.jpg" width="170" height="95" style="margin-top: 10px;" alt="Introducing Prima Holiday Greeting Cards, Starting at $25!" />
          </a>

        <!--END: LEFT BAR-->
      </div>
      <!-- End Left Content -->
      
      <!-- Begin Middle Content -->
      <div id="middle_content">MIDDLE</div>
      <!-- End Middle Content -->
    </div>
    <!-- End Body -->

    <!-- Begin Footer -->
    <br style="clear: both;" />
    <div id="footer_wrap">
      <div id="footer_text" class="rounded">
        <div id="links_customer" class="links">
          <h2>Customer Service</h2>
          <ul>
            <li><a href="http://chat.primaflyers.com/">Live Chat</a></li>
            <li><a href="http://www.primaflyers.com/contact-us.html">Contact Us</a></li>
            <li><a href="http://www.primaflyers.com/shipping.html">Shipping Policy</a></li>
            <li><a href="http://www.primaflyers.com/turnaround.html">Printing Turnaround</a></li>
          </ul>
        </div>
        <div id="links_about" class="links">
          <h2>About Us</h2>
          <ul>
            <li><a href="http://www.primaflyers.com/company-history.html">Company History</a></li>
            <li><a href="http://www.primaflyers.com/printing-green.html">Printing Green</a></li>
            <li><a href="http://www.primaflyers.com/our-process.html">Our Process</a></li>
            <li><a href="http://www.primaflyers.com/privacy.html">Privacy Policy</a></li>
          </ul>
        </div>
        <div id="links_account" class="links">
          <h2>My Account</h2>
          <ul>
            <li><a href="http://www.primaflyers.com/myaccount.asp">Sign In</a></li>
            <li><a href="http://www.primaflyers.com/myaccount.asp">Order History</a></li>
            <li><a href="http://www.primaflyers.com/myaccount.asp">Order Status</a></li>
            <li><a href="http://www.primaflyers.com/affiliateInfo.asp">Affiliate Program</a></li>
          </ul>
        </div>
        <div id="links_helpful" class="links" style="margin-right: 20px;">
          <h2>Helpful Resources</h2>
          <ul>
            <li><a href="http://www.primaflyers.com/print-101.html">Print 101</a></li>
            <li><a href="http://www.primaflyers.com/templates.html">Print Templates</a></li>
            <li><a href="http://www.primaflyers.com/faq.html">FAQ</a></li>
            <li><a href="http://www.primaflyers.com/design-ideas.html">Design Ideas</a></li>
          </ul>
        </div>
        <div id="footer_cards" style="margin-right: 20px; width: 100px; overflow: hidden;">
          <img src="assets/templates/xmas/images/icon-credit-cards.jpg" width="95" height="68" alt="Visa | Mastercard | American Express AMEX | Discover" />
        </div>
        <div id="footer_logo" style="width: 260px; overflow: hidden;">
          <a href="http://www.primaflyers.com/">
            <img src="assets/templates/xmas/images/logo-footer.jpg" width="255" height="68" alt="PRIMAFlyers.com" />
          </a>
        </div>
      </div>
      <div style="display:block;height:8px;min-height:8px;clear:both;">&nbsp;</div>
      <small>Copyright &copy; 2011. PRIMAFlyers.com. All Rights Reserved.</small>
    </div>
    <div id="footer_space"></div>
    <!-- End Footer -->
    <!-- Button Snow -->
    <div id="header_button_snow">
          <a id="button_1_trigger" href="http://www.primaflyers.com/4x6-flyers.html"></a>
          <a id="button_2_trigger" href="http://www.primaflyers.com/business-cards.html"></a>
          <a id="button_3_trigger" href="http://www.primaflyers.com/posters.html"></a>
          <a id="button_4_trigger" href="http://www.primaflyers.com/cd-inserts.html"></a>
    </div>
    <!--START: 3dcart stats-->
    <script type="text/javascript" language="JavaScript">
      var file='/stats/count.asp';
      var stats_d=new Date(); 
      var stats_s=stats_d.getSeconds(); 
      var stats_m=stats_d.getMinutes();
      var stats_x=stats_s*stats_m;
      var prdID = '[catalogid]';
      var catID = '[catid]';
      stats_f='' + escape(document.referrer); stats_f=stats_f.replace('_','----');
      if (navigator.appName=='Netscape'){stats_b='NS';} 
      if (navigator.appName=='Microsoft Internet Explorer'){stats_b='MSIE';} 
      if (navigator.appVersion.indexOf('MSIE 3')>0) {stats_b='MSIE';}
      stats_u='' + escape(document.URL); stats_u=stats_u.replace('_','----'); stats_w=screen.width; stats_h=screen.height; 
      stats_v=navigator.appName; 
      stats_fs = window.screen.fontSmoothingEnabled;
      if (stats_v != 'Netscape') { stats_c=screen.colorDepth; } else { stats_c=screen.pixelDepth; }
      stats_j=navigator.javaEnabled();
      info='w=' + stats_w + '&h=' + stats_h + '&c=' + stats_c + '&r=' + stats_f + '&u='+ stats_u + '&fs=' + stats_fs + '&b=' + stats_b + '&x=' + stats_x + '&cat=' + catID + '&prd=' + prdID;
      document.write('<img src="' + file + '?'+info+ '" width=1 height=1 border=0>');
    </script>
    <noscript><img src="/stats/count.asp" width="90" height="30" border="0" alt=""></noscript>
    <!--END: 3dcart stats-->  
  </body>
</html>