<!--START: BODY_HEADER-->
<section class="breadcrumnb">
    <div class="container">
        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/">[frame_breadcrumb-home]</a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span itemprop="name">Style Guide</span></li>
        </ol>
    </div>
</section>
<!--END: BODY_HEADER-->

<section class="page_header">
  <div class="container">
      <h1 class="page_heading">Style Guide</h1>
  </div>
</section>


<section class="page_header">
  <div class="container">
      <h1 class="page_heading">Page Heading H1 Tag</h1>
	  <p style="margin-top: 25px">The above heading style is default style for pages' titles.</p>
  </div>
</section>

<section class="page-content"> 
  <div class="container">
    <div class="content-area">
		<div class="header">
			<h3 class="page_heading">Sub-section titles style</h3>
		</div>
		<p style="margin-top: 25px">The above heading style is used to devide different sections on the pages. For example to seperate 'Related Products' on product page from the rest of page.</p>
    </div>
  </div>
</section>

<section class="page-content"> 
  <div class="container">
    <div class="content-area">
		<div class="header">
			<h3 class="page_heading">Basic form UI components</h3>
		</div>
		<p style="margin-top: 25px">Following are basic form elements' styling.</p>
		<input type="text" class="form-control" value="Test field"> <br />
		<textarea class="form-control">Text area</textarea> <br />
		<button class="btn btn-default">Default Button Style</button> <br /><br />
		<button class="btn btn-primary">Primary Button Style</button>
		 <br />
		<div class="checkbox">
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
			</label>
		</div>

		<div class="radio">
			<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
			</label>
			<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
			</label>
			<label class="radio-inline">
				<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
			</label>
		</div>

		<div class="form-group">
			<input type="file" id="exampleInputFile">
		</div>

    </div>
  </div>
</section>


<section class="page-content"> 
  <div class="container">
    <div class="content-area">
		<div class="header">
			<h3 class="page_heading">Typography</h3>
		</div>
		<p style="margin-top: 25px">Following are content area text styles.</p>

		<h1>This is an H1 Tag</h1>
		<h2>This is an H2 Tag</h2>
		<h3>This is an H3 Tag</h3>
		<h4>This is an H4 Tag</h4>
		<h5>This is an H5 Tag</h5>
		<h6>This is an H6 Tag</h6>

		<p>I am a simple paragraph text. <strong>Some bold text.</strong> <em>Some italic text.</em> And to make text longer here is some lorem ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<p><a href="#">An anchor text.</a></p>
    </div>
  </div>
</section>


