<!--START: BODY_HEADER (KYLE FLAG) -->
<section class="breadcrumnb">
    <div class="container">
        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfixfix">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/">[frame_breadcrumb-home]</a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span>Thank You</span></li>
        </ol>
    </div>
</section>
<!--END: BODY_HEADER-->

<section class="page_header">
    <div class="container">
        <h1 class="page_heading">Thank You</h1>
        <!--START: CATEGORY_HEADER-->
        <div class="category-header" id="thankyouHeader">[CONTENT]</div>
        <!--END: CATEGORY_HEADER-->
    </div>
</section>

<section id="thankyou" class="page-content">
    <div class="container">
        <div class="content-area">
            <div class="thankyou-content">
               <h4 class="page_heading">Customer Information</h4>
                <ul>
                    <li>
                     <h3>[billing_firstname] [billing_lastname]</h3>
                      <p><strong>Billing Address:</strong> [billing_address] [billing_address2]</p>
                      <p><strong>Billing Info:</strong> [billing_city], [billing_state]. [billing_zip] [billing_country]</p>
                      <p><strong>Email:</strong> [email]</p>
                      <p><strong>Password:</strong> [pass]</p>
                      <!--START: billing_company-->
                      <p><strong>Company:</strong> [billing_company]</p>
                      <!--END: billing_company-->
                      <!--START: accountno-->
                      <p><strong>Tax id:</strong> [accountno]</p>
                      <!--END: accountno-->
                      <!--START: customergroup-->
                      <p><strong>Customer Group:</strong> [groupname]</p>
                      <!--START: description-->
                      <p><strong>Description:</strong> <em> [description]</em></p>
                      <!--END: description-->
                      <p><strong>Minimum Order:</strong> [minimumorder]</p>
                      <!--END: customergroup-->
                   </li>
                </ul>
                <!--START: comments-->
                <p>
                    <strong>Comments:</strong><br />
                    [comments]
                </p>
                <!--END: comments-->
            </div>
            <!--START: CATEGORY_FOOTER-->
            <div class="category-footer" id="thankyouFooter">[CONTENT]</div>
            <!--END: CATEGORY_FOOTER-->
        </div>
    </div>
</section>


<!--START: template_styles-->
<link rel="stylesheet" href="/assets/templates/common-core/css/thankyou-content.css" type="text/css" media="all" />
<!--END: template_styles-->
