@charset "utf-8";
/* CSS Document */

*, html {
	font-family: Arial, Helvetica, sans-serif;	
	margin: 0px;
	padding: 0px;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

*:focus, *:hover {
	outline: none;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

a img {
	border: none;
}

/* Colors & Effects */

.blue {
	color: #00a6ee;
}

.grey {
	color: #64666a;
}

.pink {
	color: #e73737;
}

.shadow {
	text-shadow: #222222 2px 2px 1px;
}

.tooltip-right {
	display: none;
	background-image: url('../images/tooltip-white.png');
	background-repeat: no-repeat;
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px 14px 25px 36px;
	text-align: left;
	color: #000000;
}

/* Rounded Corners */

.rounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.rounded-less {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;	
}

.rounded-more {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;	
}

/* Content */

.title {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Structure */

#top_bar_wrap {
	background-color: #de3794;
	background-image: url('../images/bg_nav_top.jpg');
	background-repeat: repeat-x;
	height: 41px;
	width: 100%;
}

#header_wrap {
	background-image: url('../images/bg_header_scroll.jpg');
	background-repeat: repeat-x;
	height: 420px;
	width: 100%;
}

#header_snowman {
	background-image: url('../images/bg_snowman.png');
	background-position: top center;
	background-repeat: no-repeat;
	height: 420px;
	width: 100%;
}

#header {
	height: 420px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	text-align: left;
	width: 950px;
	z-index: 50;
}

#header_button_snow {
	background-image: url('../images/bg_button_foreground.png');
	background-position: -40 center;
	background-repeat: no-repeat;
	height: 380px;
	position: absolute;
	top: 114px;
	left: 50%;
	margin-left: -475px;
	overflow: hidden;
	width: 950px;
	z-index: 100;
}

#logo {
	float: left;
	height: 80px;
	margin: 19px 0px 0px 100px;
	width: 217px;
}

#top_navigation {
	background-image: url('../images/bg_nav_top_sub.png');
	background-repeat: no-repeat;
	color: #000000;
	float: right;
	height: 42px;
	text-align: center;
	text-indent: -9999px;
	width: 542px;
}

#top_navigation ul {
	list-style-type: none;
	margin: 9px 0px 0px 10px;
	padding: 0px;
}

#top_navigation ul li {
	display: block;
	float: left;
	list-style-image: none;
}

#top_nav_account {
	background-image: url('../images/nav_top_account.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	width: 72px;
}

#top_nav_account:hover {
	background-image: url('../images/nav_top_account.jpg');
	background-position: 0px -15px;
}

#top_nav_login {
	background-image: url('../images/nav_top_login.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 34px;
}

#top_nav_login:hover {
	background-image: url('../images/nav_top_login.jpg');
	background-position: 0px -15px;
}

#top_nav_cart {
	background-image: url('../images/nav_top_cart.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 87px;
}

#top_nav_cart:hover {
	background-image: url('../images/nav_top_cart.jpg');
	background-position: 0px -15px;
}

#top_nav_order {
	background-image: url('../images/nav_top_order.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 81px;
}

#top_nav_order:hover {
	background-image: url('../images/nav_top_order.jpg');
	background-position: 0px -15px;
}

#top_nav_faq {
	background-image: url('../images/nav_top_faq.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 24px;
}

#top_nav_faq:hover {
	background-image: url('../images/nav_top_faq.jpg');
	background-position: 0px -15px;
}


#top_nav_contact {
	background-image: url('../images/nav_top_contact.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 70px;
}

#top_nav_contact:hover {
	background-image: url('../images/nav_top_contact.jpg');
	background-position: 0px -15px;
}

#top_nav_emails {
	background-image: url('../images/nav_top_emails.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 24px;
	min-height: 24px;
	margin-top: -3px;
	margin-left: 18px;
	width: 79px;
}

#top_nav_emails:hover {
	background-image: url('../images/nav_top_emails.jpg');
	background-position: 0px -24px;
}

/* Slide Flyers */

#slide_flyers {
	background-repeat: no-repeat;
	float: left;
	height: 420px;
	overflow: hidden;
	width: 950px;
}

#slide_buttons {
	background-image: url('../images/slide_buttons.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	float: left;
	height: 200px;
	top: 295px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -475px;
	width: 950px;
}

#button_1 {
	display: block;
	float: left;
	height: 145px;
	margin-left: 102px;
	margin-top: 22px;
	width: 145px;
}

#button_2 {
	display: block;
	float: left;
	height: 145px;
	margin-left: 51px;
	margin-top: 22px;
	width: 145px;
	z-index: 70;
}

#button_3 {
	display: block;
	float: left;
	height: 145px;
	margin-left: 54px;
	margin-top: 22px;
	width: 145px;
	z-index: 70;
}

#button_4 {
	display: block;
	float: left;
	height: 145px;
	margin-left: 56px;
	margin-top: 22px;
	width: 145px;
	z-index: 70;
}





#button_1_trigger {
	display: block;
	float: left;
	height: 145px;
	margin-left: 102px;
	margin-top: 202px;
	width: 145px;
}

#button_2_trigger {
	display: block;
	float: left;
	height: 145px;
	margin-left: 51px;
	margin-top: 202px;
	width: 145px;
	z-index: 70;
}

#button_3_trigger {
	display: block;
	float: left;
	height: 145px;
	margin-left: 54px;
	margin-top: 202px;
	width: 145px;
	z-index: 70;
}

#button_4_trigger {
	display: block;
	float: left;
	height: 145px;
	margin-left: 56px;
	margin-top: 202px;
	width: 145px;
	z-index: 70;
}





#middle_bar_wrap {
	background-color: #2ab8eb;
	background-image: url('../images/bg_nav_middle.jpg');
	background-repeat: repeat-x;
	height: 57px;
	width: 100%;
}

#middle_bar_nav {
	background-image: url('../images/bg_nav_middle_sub.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	color: #eeeeee;
	float: left;
	height: 45px;
	margin-bottom: 20px;
	text-indent: -9999px;
	width: 636px;
}

#middle_bar_nav ul {
	list-style-type: none;
	margin: 11px 0px 0px 24px;
	padding: 0px;
}

#middle_bar_nav ul li {
	display: block;
	float: left;
	list-style-image: none;
}

#mid_nav_home {
	background-image: url('../images/mid_nav_home.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	width: 35px;
}

#mid_nav_home:hover {
	background-image: url('../images/mid_nav_home.jpg');
	background-position: 0px -15px;
}

#mid_nav_products {
	background-image: url('../images/mid_nav_products.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 114px;
}

#mid_nav_products:hover {
	background-image: url('../images/mid_nav_products.jpg');
	background-position: 0px -15px;
}

#mid_nav_templates {
	background-image: url('../images/mid_nav_templates.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 64px;
}

#mid_nav_templates:hover {
	background-image: url('../images/mid_nav_templates.jpg');
	background-position: 0px -15px;
}

#mid_nav_print {
	background-image: url('../images/mid_nav_print.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 53px;
}

#mid_nav_print:hover {
	background-image: url('../images/mid_nav_print.jpg');
	background-position: 0px -15px;
}

#mid_nav_turnaround {
	background-image: url('../images/mid_nav_turnaround.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 81px;
}

#mid_nav_turnaround:hover {
	background-image: url('../images/mid_nav_turnaround.jpg');
	background-position: 0px -15px;
}

#mid_nav_faq {
	background-image: url('../images/mid_nav_faq.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 25px;
}

#mid_nav_faq:hover {
	background-image: url('../images/mid_nav_faq.jpg');
	background-position: 0px -15px;
}

#mid_nav_contact {
	background-image: url('../images/mid_nav_contact.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	min-height: 15px;
	margin-left: 10px;
	width: 70px;
}

#mid_nav_contact:hover {
	background-image: url('../images/mid_nav_contact.jpg');
	background-position: 0px -15px;
}

#mid_nav_blog {
	background-image: url('../images/mid_nav_blog.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	min-height: 20px;
	margin-left: 33px;
	margin-top: -2px;
	width: 54px;
}

#mid_nav_blog:hover {
	background-image: url('../images/mid_nav_blog.jpg');
	background-position: 0px -20px;
}

#content {
	margin: 0px auto 0px auto;
	text-align: left;
	width: 950px;
}

#content_left {
	float: left;
	min-height: 400px;
	width: 530px;
}

#content_left div.content_box {
	clear: both;
	margin-bottom: 30px;
}

#content_left div.icon_start {
	background-image: url('../images/icon_start_new.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	clear: both;
	float: left;
	height: 114px;
	overflow: hidden;
	width: 107px;
}

#content_left div.icon_start:hover {
	background-image: url('../images/icon_start_new.jpg');
	background-position: 0px -114px;
	background-repeat: no-repeat;
}

#content_left div.icon_contact {
	background-image: url('../images/icon_contact_new.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	clear: both;
	float: left;
	height: 114px;
	overflow: hidden;
	width: 107px;
}

#content_left div.icon_contact:hover {
	background-image: url('../images/icon_contact_new.jpg');
	background-position: 0px -114px;
	background-repeat: no-repeat;
}

#content_left div.icon_chat {
	background-image: url('../images/icon_live_chat_online.jpg');
	/* background-image: url('../images/icon_live_chat_offline.jpg'); */
	background-position: 0px 0px;
	background-repeat: no-repeat;
	clear: both;
	float: left;
	height: 114px;
	overflow: hidden;
	width: 107px;
}

#content_left div.icon_chat:hover {
	background-image: url('../images/icon_live_chat_online.jpg');
	/* background-image: url('../images/icon_live_chat_offline.jpg'); */
	background-position: 0px -114px;
	background-repeat: no-repeat;
}

#content_left div.text {
	margin-left: 110px;
	padding-top: 16px;
}

#content_left .social-icons {
	float: right;
	height: 80px;
	width: 320px;
}

#content_left .social-icons .social {
	float: left;
	height: 40px;
	width: 160px;
}

#content_right {
	margin-left: 550px;
	min-height: 400px;
	width: 400px;
}

/* Homepage Specials */

#content_right .specials {
	background-image: url('../images/bg_specials.jpg');
	background-repeat: no-repeat;
	height: 220px;
	min-height: 220px;
	margin-bottom: 15px;
	width: 400px;
}

#content_right .specials_text {
	float: left;
	height: 188px;
	min-height: 188px;
	margin: 20px 18px 12px 12px;
	width: 370px;
}

#content_right .icon_globe {
	background-image: url('../images/specials-globe.png');
	background-position: bottom left;
	background-repeat: no-repeat;
}

#content_right .icon_flyers {
	background-image: url('../images/specials-flyers.png');
	background-position: 15px bottom;
	background-repeat: no-repeat;
}

#content_right h1.title {
	display: block;
	float: right;
	font-size: 38px;
	letter-spacing: 3px;
	margin: 0px 0px 6px 0px;
	padding: 0px;
	text-align: right;
}

#content_right h2.subtitle {
	color: #000000;
	display: block;
	float: right;
	font-size: 30px;
	font-weight: bold;
	margin: 0px 0px 8px 0px;
	padding: 0px;
	text-align: right;
	text-transform: uppercase;
}

#content_right h2.subtitle small {
	display: block;
	float: right;
	font-size: 16px;
	text-align: right;
}

#content_right .price {
	clear: right;
	display: block;
	float: right;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#content_right .price small {
	display: block;
	float: right;
	font-size: 28px;
}

#footer_wrap {
	margin: 30px auto;
	text-align: center;
	width: 950px;
}

#footer_text {
	border: 2px solid #dddddd;
	float: left;
	padding: 20px;
	text-align: left;
	width: 910px;
}

#footer_text ul {
	list-style-type: none;
}

#footer_text ul li a, #footer_text ul li a:active, #footer_text ul li a:visited {
	color: #000000;
	display: block;
	font-size: 10px;
	line-height: 16px;
	text-decoration: none;
}

#footer_text ul li a:hover {
	color: #999999;
	text-decoration: none;
}

#footer_text div.links {
	float: left;
	margin-right: 40px;
}

#footer_text div.links h2 {
	display: block;
	font-size: 10px;
	font-weight: bold;
	padding-bottom: 6px;
	text-transform: uppercase;
}

#footer_text #footer_cards {
	float: left;
}

#footer_text #footer_logo {
	float: left;
}

#footer_space {
	clear: both;
	height: 30px;
	min-height: 30px;
}