<!--START: BODY_HEADER-->
<section class="breadcrumnb">
	<div class="container">
		<ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">[frame_breadcrumb-home]</span></a></li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">[categoryindex_title]</span></li>
		</ol>
	</div>
</section>
<!--END: BODY_HEADER-->

<section class="page_header">
    <div class="container">
        <h1 class="page_heading">[store_name] - [categoryindex_title]</h1>
    </div>
</section>

<section id="categoryIndex" class="page-content">
    <div class="container">
		<div class="content-area">
            <!--START: category_level1-->
            <ul class="category_level1">
            	<li><a href="view_category.asp?cat=CATID">CATEGORY</a></li>
            </ul>
            <!--END: category_level1--> 
            <!--START: category_level2-->
            <ul class="category_level2">
            	<li><a href="view_category.asp?cat=CATID">CATEGORY</a></li>
            </ul>
            <!--END: category_level2--> 
            <!--START: category_level3-->
            <ul class="category_level3">
            	<li><a href="view_category.asp?cat=CATID">CATEGORY</a></li>
            </ul>
            <!--END: category_level3--> 
            <!--START: category_level4-->
            <ul class="category_level4">
            	<li><a href="view_category.asp?cat=CATID">CATEGORY</a></li>
            </ul>
            <!--END: category_level4-->
            <div class="categoryIndex">
            <!--START: categoryindex-->
            [category structure goes here]
            <!--END: categoryindex-->  
		    </div>
        </div>
    </div>
</section>