<div id="divCookieAcceptance" class="modal text-left" tabindex="-1" role="dialog">
    <div class="modal-vcenter">
        <div class="modal-dialog" role="document">
            <div class="modal-content ajax-modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">[gdpr_cookies-acceptance-message]</h4>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn" onclick="ContinueCookieAcceptance(true);" value="Accept"/>
                    <input type="button" style="margin-left:10px;" class="btn" onclick="ContinueCookieAcceptance(false);" value="Deny"/>
                </div>
            </div>
        </div>
    </div>
</div>