<!--START: BODY_HEADER-->
<section class="breadcrumnb">
  <div class="container">
      <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
          [PAGE_FULLLINE]
      </ol>
  </div>
</section>
<!--END: BODY_HEADER-->
<section class="page_header">
  <div class="container">
      <h1 class="page_heading">
        [htmlpage]
      </h1>
  </div>
</section>
<section id="extrapage" class="page-content"> 
  <div class="container">
    <div class="content-area">
      <!--START: SUB_PAGES-->
      <ul class="sub_pages">
        <!--START: SUB_PAGES_FORMAT-->
        <li><a href="infopage.asp?page=[id]&extra=[extra]">[sub_pages_title]</a></li>
        <!--END: SUB_PAGES_FORMAT-->
      </ul>
      <!--END: SUB_PAGES-->
      <div class="content">[content]</div>
    </div>
  </div>
</section>