<!--START: BODY_HEADER-->
<section class="breadcrumnb">
    <div class="container">
        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">[frame_breadcrumb-home]</span></a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span itemprop="name">[feed_title]</span></li>
        </ol>
    </div>
</section>
<!--END: BODY_HEADER-->

<section class="page_header">
    <div class="container">
        <h1 class="page_heading"> <span>[feed_title]</span></h1>

        <div class="button">
            <!--START: PREVFEED-->
            <a href="[prevlink]" class="btn btn-link def-text"><i class="icon-angle-left"></i>[prevtitle]</a>
            <!--END: PREVFEED-->
            <!--START: NEXTFEED-->
            <a href="[nextlink]" class="btn btn-link def-text">[nexttitle]<i class="icon-angle-right"></i></a>
            <!--END: NEXTFEED-->
        </div>

    </div>
</section>

<section id="feedDetail" class="feedDetail-page-content page-content">
    <div class="container">
        <div class="row">
            <div class="content-area col-lg-12">

                <div class="feedInfo">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page_header clearfix">
                                <h4 class="page_heading">[feed_created]</h4>
                                <div class="button pull-right">
                                    <!--START: feed_author-->&nbsp;by&nbsp;[feed_author]
                                    <!--END: feed_author-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="feedShortDescription col-lg-12">
                            <article>[feed_description]</article>
                            <ul class="feed_additionalfields">
                                <!--START: feed_additionalfield1-->
                                <li>[feed_additionalfield1]</li>
                                <!--END: feed_additionalfield1-->
                                <!--START: feed_additionalfield2-->
                                <li>[feed_additionalfield2]</li>
                                <!--END: feed_additionalfield2-->
                                <!--START: feed_additionalfield3-->
                                <li>[feed_additionalfield3]</li>
                                <!--END: feed_additionalfield3-->
                                <!--START: feed_additionalfield4-->
                                <li>[feed_additionalfield4]</li>
                                <!--END: feed_additionalfield4-->
                                <!--START: feed_additionalfield5-->
                                <li>[feed_additionalfield5]</li>
                                <!--END: feed_additionalfield5-->
                            </ul>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</section>

<!--START: template_styles-->
<link rel="stylesheet" href="/assets/templates/common-core/css/datafeed.css" type="text/css" media="screen" />
<!--END: template_styles-->