<!--START: BODY_HEADER-->
<section class="breadcrumnb">
    <div class="container">
        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">[frame_breadcrumb-home]</span></a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span itemprop="name">[giftregistry_home]</span></li>
        </ol>
    </div>
</section>
<!--END: BODY_HEADER-->

<section class="page_header">
    <div class="container">
        <h1 class="page_heading">[giftregistry_home]</h1>
        <!--START: myAccount-->
        <div class="button"><a href="giftregistry_home.asp" class="btn btn-link"><i class="icon-left"></i> Gift Registry Home</a></div>
        <!--END: myAccount-->
    </div>
</section>


<section id="giftregistryHomePassword" class="giftregistryHomePassword-page-content page-content">
    <div class="container">
        <div class="row">
            <div class="content-area col-lg-12">
                <!--START: CATEGORY_HEADER-->
                <div class="category-header" id="giftregistryHomePasswordHeader">[CONTENT]</div>
                <!--END: CATEGORY_HEADER--> 

                <form action="giftregistry_home.asp" name="frmForm" id="frmForm" method="post" autocomplete="off">
                    <input type="hidden" name="action" id="action" value="" />
                    <input type="hidden" name="intCustId" id="intCustId" value="" />


                    <!--START: giftRegistrySearchResultDetail-->
                    <div class="row wishlistView_details details_row">
                        <div class="col-sm-12 col-xs-12 label_section">
                            <div class="row">
                                <label class="col-md-2 col-sm-3 col-xs-4" for="giftreg-name">[giftregistry_header-name]</label>
                                <div class="col-md-10 col-sm-9 col-xs-8">[regName]</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 label_section">
                            <div class="row">
                                <label class="col-md-2 col-sm-3 col-xs-4" for="giftreg-date">[giftregistry_header-eventdate]</label>
                                <div class="col-md-10 col-sm-9 col-xs-8">[regEvent]</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 label_section">
                            <div class="row">
                                <label class="col-md-2 col-sm-3 col-xs-4" for="giftreg-fname">[giftregistry_create-firstname]</label>
                                <div class="col-md-10 col-sm-9 col-xs-8">[regFirstName]</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 label_section">
                            <div class="row">
                                <label class="col-md-2 col-sm-3 col-xs-4" for="giftreg-lname">[giftregistry_create-lastname]</label>
                                <div class="col-md-10 col-sm-9 col-xs-8">[regLastName]</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 label_section">
                            <div class="row">
                                <label class="col-md-2 col-sm-3 col-xs-4" for="giftreg-lname">[giftregistry_create-password]</label>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                	<div class="row">
                                    	<div class="col-sm-6 label_section">
    	                                    <input type="password" id="txtRegPassword" name="txtRegPassword" class="txtBoxStyle form-control" maxlength="10" size="10" value="" autocomplete="off" onkeypress="return CheckEnterKeyPressed(event)"/>
                                        </div>
                                        <div class="col-sm-6 label_section">
	                                        <button type="button" name="cmdViewList" onclick="javascript:viewRegistry2('[custid]');" class="btn btn-primary">[giftregistry_home-select-registry]</button>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 label_section">
                            <div class="row">
                                <label class="col-md-2 col-sm-3 col-xs-4" for="giftreg-message">[giftregistry_create-message]</label>
                                <div class="col-md-10 col-sm-9 col-xs-8">[regMessage]</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!--END: giftRegistrySearchResultDetail-->
                </form>
                <div class="clearfix"></div>

                <!--START: CATEGORY_FOOTER-->
                <div class="category-footer" id="giftregistryHomePasswordFooter">[CONTENT]</div>
                <!--END: CATEGORY_FOOTER--> 
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="variablesVals" value="" data-custid="[custid]" data-giftregistry_create-password="[giftregistry_create-password]" />

<!--START: template_scripts-->
<script type="text/javascript" src="/assets/templates/common-core/js/giftregistry_home.js"></script>
<!--END: template_scripts-->

<!--START: template_styles-->
<link rel="stylesheet" href="/assets/templates/common-core/css/giftregistry.css" type="text/css" media="screen" />
<!--END: template_styles-->
