<!--START: BODY_HEADER-->
<section class="breadcrumnb">
	<div class="container">
		<ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/" itemprop="item"><span itemprop="name">Home</span></a></li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">Shop By Brand</span></li>
		</ol>
	</div>
</section>
<!--END: BODY_HEADER-->

<section class="page_header">
    <div class="container">
        <h1 class="page_heading">Shop By Brand</h1>
    </div>
</section>

<section id="manufacturerIndex" class="page-content">
    <div class="container">
		<div class="content-area">
            <!--START: manufacturer-->
            <li id="mfg_[id]" class="mfg-name"><a href="search_groups.asp?manf=[id]">[manufacturer]</a></li>
            <!--END: manufacturer-->
            <ul class="manufacturer-index">
            <!--START: manufacturerindex-->
            [category structure goes here]
            <!--END: manufacturerindex-->
            </ul>
		</div>
    </div>
</section>