<!--START: BODY_HEADER-->
<section class="breadcrumnb">
	<div class="container">
	  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
	      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/">[frame_breadcrumb-home]</a></li>
	      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="">[orderhistory_header]</a></li>
	  </ol>
	</div>
</section>
<!--END: BODY_HEADER-->
<section class="page_header">
	<div class="container">
	  <h1 class="page_heading">
	    [orderhistory_header]
	  </h1>
	  <!--START: myAccount-->
	  <div class="button">
	      <a href="myaccount.asp" class="icon-btn btn btn-link"> <i class="icon-left"></i> Back to My Account</a>
	  </div>
	  <!--END: myAccount-->
	</div>
</section>
<section id="orderHistory" class="page-content">
	<div class="container">
        <div class="orderHistory-message">[orderhistory_message]</div>

        <div class="hidden-xs hidden-sm titles-history row">
            <div class="col-lg-2 col-md-2">
                <label for="odate" class="odate">[orderhistory_date]</label>
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="onum" class="onum">[orderhistory_ordernum]</label>
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="oamount" class="oamount">[orderhistory_amount]</label>
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="ostatus" class="ostatus">[orderhistory_status]</label>
            </div>
            <div class="col-lg-2 col-md-2">
                <label for="odetails" class="odetails">[orderhistory_details] / RMA</label>
            </div>
            <div class="col-lg-2 col-md-2  oreorder-col">
                <label for="oreorder" class="oreorder">Action</label>
            </div>
        </div>

        <!--START: ordertemplate-->
        <div class="total-summary details_row row">
            <div class="col-lg-2 col-md-2">
                <div class="row">
                    <label class="visible-xs visible-sm gcTotal-default col-xs-4">[orderhistory_date]</label>
                    <div class="col-xs-8 col-md-12 odate">[odate]</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="row">
                    <label class="visible-xs visible-sm gcTotal-default col-xs-4">[orderhistory_ordernum]</label>
                    <div class="col-xs-8 col-md-12 onum">[invoicenum_prefix][invoicenum]</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="row">
                    <label class="visible-xs visible-sm gcTotal-default col-xs-4">[orderhistory_amount]</label>
                    <div class="col-xs-8 col-md-12 oamount">[orderamount]</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="row">
                    <label class="visible-xs visible-sm gcTotal-default col-xs-4">[orderhistory_status]</label>
                    <div class="col-xs-8 col-md-12 ostatus">[orderstatus]</div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="row">
                    <label class="visible-xs visible-sm gcTotal-default col-xs-4">[orderhistory_status]</label>
                    <div class="col-xs-8 col-md-12 odetails">
                        <div class="button left">
                            <a href="ordertracking.asp?action=view&id=[orderid]" class="icon-btn icon-btn-search">[orderhistory_vieworderlink]</a>
                        </div>
                        <!--START: btnRMA-->
                        <div class="button left">
                            <a href="javascript:location.href='my_rma.asp?oid=[orderid]&r=[idRma]';" class="icon-btn icon-btn-down">View RMA</a>
                        </div>
                        <!--END: btnRMA-->
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 oreorder-col">
                <div class="row">
                    <label class="visible-xs visible-sm col-xs-4">Action</label>
                    <div class="col-xs-8 col-md-12">
                        <!--START: reorder--><a href="ordertracking.asp?action=repeat&id=[orderid]"><i class="icon-cw"></i> reorder</a><!--END: reorder-->
                    </div>
                </div>
            </div>
        </div>
        <!--END: ordertemplate-->
	</div>
</section>
<!--START: template_styles-->
<link rel="stylesheet" href="/assets/templates/common-core/css/orderHistory.css" type="text/css" media="all" />
<!--END: template_styles-->