<aside id="qv-modal" class="qv qv-modal modal" tabindex="-1" role="dialog" data-catalogid="" data-price="0" data-sku="" data-backdrop="true">
	<div class="modal-dialog" role="document">
		<div class="modal-vcenter">
			<div class="qv-loader">
				<span class="mailing-btn-load icon-spin2 animate-spin"></span>
			</div>

			<div class="product-item modal-content">
							<button type="button" class="qv-close close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<iframe id="qvIframe" frameborder="0"></iframe>

			</div>
		</div>
	</div>
</aside>
