<!--START: BODY_HEADER-->
<section class="breadcrumnb">
    <div class="container">
        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="/">[frame_breadcrumb-home]</a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span>[rewards_details-detail]</span></li>
        </ol>
    </div>
</section>
<!--END: BODY_HEADER-->

<section class="page_header">
    <div class="container">
        <h1 class="page_heading">
            [rewards_details-detail]
        </h1>
        <!--START: myAccount-->
        <div class="button">
            <a href="myaccount.asp" class="icon-btn btn btn-link"> <i class="icon-left"></i> Back to My Account</a>
        </div>
        <!--END: myAccount-->
        <!--START: CATEGORY_HEADER-->
        <div class="category-header" id="redeemItemHeader">[CONTENT]</div>
        <!--END: CATEGORY_HEADER-->
    </div>
</section>


<section id="redeemItem" class="page-content">
    <div class="container">
        <div class="content-area">
            <!--START: ordercompleted-->
            <div class="titles">[rewards_redeem-redeemOrderCompleted]</div>
            <!--START: invoicedata-->
            <div class="redeem-invoice-text">
                [rewards_redeem-redeemYourInvoice] [invoicenum_prefix][invoicenum]
            </div>
            <div class="button left" style="margin: 15px 0">
                <a href="ordertracking.asp?action=view&id=[orderid]" class="btn btn-default btn-inverse">
                    <i class="icon-search"></i> Details
                </a>
            </div>
            <!--END: invoicedata-->
            <p>[rewards_redeem-redeemThanks]</p>
            <!--END: ordercompleted-->
            <!--START: CATEGORY_FOOTER-->
            <div class="category-footer" id="redeemItemFooter">[CONTENT]</div>
            <!--END: CATEGORY_FOOTER-->
        </div>
    </div>
</section>