<aside id="createreview-modal" class="createreview createreview-modal modal text-left" tabindex="-1" role="dialog">
	<div class="modal-vcenter">
		<div class="modal-dialog" role="document">
			<div class="modal-content ajax-modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">[reviews_add]</h4>
				</div>
				<div class="modal-body">
					<div class="row">

						<div class="col-md-12">
							<div class="form-group rating-label">
								<label for="" class="small-label">Your rating: <span class="required">*</span></label>
							</div>
							<span class="rating">
								<input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input" value="5" />
								<label for="rating-input-1-5" class="rating-star"><i class="icon-star"></i></label>

								<input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input" value="4" />
								<label for="rating-input-1-4" class="rating-star"><i class="icon-star"></i></label>

								<input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input" value="3" />
								<label for="rating-input-1-3" class="rating-star"><i class="icon-star"></i></label>

								<input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input" value="2" />
								<label for="rating-input-1-2" class="rating-star"><i class="icon-star"></i></label>

								<input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input" value="1" />
								<label for="rating-input-1-1" class="rating-star"><i class="icon-star"></i></label>
							</span>
						</div>

						<!--START: nameTxt-->
						<div class="col-md-6">
							<div class="form-group">
								<label for="user_name" class="small-label">Name: <span class="required">*</span></label>
								<input type="text" class="form-control review-input" id="createreview-custName" name="createreview-custName" value="[firstname]">
							</div>
						</div>
						<!--END: nameTxt-->

						<!--START: emailTxt-->
						<div class="col-md-6">
							<div class="form-group">
								<label for="createreview-custEmail" class="small-label">Email: <span class="required">*</span></label>
								<input type="text" class="form-control" id="createreview-custEmail" name="createreview-custEmail" value="[email]">
							</div>
						</div>
						<!--END: emailTxt-->

						<div class="col-md-6">
							<div class="form-group">
								<label for="createreview-userCity" class="small-label">Location: <span class="required">*</span></label>
								<input type="text" class="form-control" id="createreview-userCity" name="createreview-userCity" value="">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="createreview-shorReview" class="small-label">Title: <span class="required">*</span></label>
								<input type="text" class="form-control" id="createreview-shorReview" name="createreview-shorReview" value="">
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label for="createreview-longReview" class="small-label">Review: <span class="required">*</span></label>
								<textarea class="form-control" id="createreview-longReview" name="createreview-longReview" rows="3"></textarea>
							</div>
						</div>

						<!--START: productreviewimageupload-->
						<div class="col-md-12">
							<div class="form-group">
								<!--START: review_images_group-->
								<div class="reviewField review-images-field left" id="divAttached[messageid]">
									<label  class="small-label">Images:</label>
								    <ul id="reviewImageList" class="review-image-cols clearfix">
								    </ul>
								</div>
								<!--END: review_images_group-->


								<div class="clear"></div>
								<!--START: productreview_fileupload-->
								<div class="file-attachments-button">
									<span class="fileinput-button" >
										<i class="icon-plus"></i>
										<span>Select files...</span>
										<!-- The file input field used as target for the file upload widget -->
                                        <input id="hdnFileHash" type="hidden" name="hdnFileHash" value="[filehash]">
										<input id="fileupload" type="file" name="files[]" multiple="" data-url="/filesaction.asp?action=upload&folder=temp&hid=[filehash]">
									</span>
								</div>
								

								<p></p>
								<div id="progress">
									<div class="bar" style="width: 0%;"></div>
								</div>
								<!-- The container for the uploaded files -->
								<div id="files" class="files"></div>
								<input id="fileattachment" name="fileattachment" type="hidden" value="[fileattachment]"/>
								<p id="allelements"></p>
								<!--END: productreview_fileupload-->


							</div>
						</div>
						<!--END: productreviewimageupload-->

                        <!--START: gdpr_policy_enforced-->
                        <div class="col-md-12">
							<div class="form-group">                                
                                <input type="checkbox" name="privacy_accepted" value="0" id="privacy_accepted" class="txtBoxStyle"  />
                                <i></i><span class="gdpr-terms">[grpr_privacy-policy-terms]</span>
                                <label class="small-label"><span class="required">*</span></label>
							</div>
						</div>
                        <!--END: gdpr_policy_enforced-->

						<div  class="col-md-6">
							<div class="form-group">

								<!--START: captcha-->
								<label class="small-label">Verification: <span class="required">*</span></label>
								<div class="simple-captcha">
									<div class="captcha" style="margin-bottom:10px;"><img src="admin/image_pw.asp" width="148"/></div>

									<div class="captcha-text">Type the word above...</div>
									<input type="text" class="form-control" name="ramdomWord" id="ramdomWord" autocomplete="off" value="" size="25" maxlength="30" tabindex="6" />
								</div>
								<!--END: captcha-->

								<!--START: recaptcha-->
								<label class="small-label">Verification: <span class="required">*</span></label>
								<div class="simple-captcha">
									<script type="text/javascript">var RecaptchaOptions = { theme: '[recaptcha_theme]' };</script>
									<script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k=[recaptcha_key]"></script>
								<noscript>
									<iframe src="//www.google.com/recaptcha/api/noscript?k=[recaptcha_key]" height="300" width="500" frameborder="0"></iframe><br>
									<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
									<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
								</noscript>
								</div>
								<!--END: recaptcha-->

								<!--START: recaptcharobot-->
								<div id="createreview-recaptchaRobot" class="recaptchaRobot" 
									data-sitekey="[recaptcha_key]"
									data-size="[recaptcha_robot_size]"
									data-type="[recaptcha_robot_type]"
									data-theme="[recaptcha_robot_theme]"
									data-callback="createreview_[recaptcha_robot_size]"></div>
								<!--END: recaptcharobot-->
							</div>
						</div>

					</div>
				</div>

			    <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">[frame_modal-close]</button>
					 <!--START: productreview_submit-->
			        <button id="createreview_button" name="createreview_button" type="button" class="btn btn-default btn-inverse">[reviews_add]</button>
                    <!--END: productreview_submit-->
			    </div>

				<div class="loading-overlay">
					<span class="modal-ajaxload icon-spin2 animate-spin"></span>
				</div>

				<div class="modal-response">
					<div class="modal-resout">
						<div class="modal-resin review-item">
							<p>[reviews_thankyou]</p>
							<div class="modal-resacts">
								<button type="button" class="btn btn-default" data-dismiss="modal">[frame_modal-close]</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</aside>