<section id="rss" class="page-content"> 
	<div class="container">
		<!--START: BODY_HEADER-->
		<section class="breadcrumnb">
			<ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="clearfix">
				[PAGE_FULLLINE]
			</ol>
		</section>

		<section class="page_header">
			<h1 class="page_heading">[htmlpage]</h1>
		</section>
		<!--END: BODY_HEADER--> 

		<!--START: SUB_PAGES-->
		<ul class="sub_pages">
		<!--START: SUB_PAGES_FORMAT-->
		<li><a href="infopage.asp?page=[id]&extra=[extra]">[sub_pages_title]</a></li>
		<!--END: SUB_PAGES_FORMAT-->
		</ul>
		<div class="clear"></div>
		<!--END: SUB_PAGES--> 
		<!--START: article-->
		<div class="rss-header">
		<h3><a href="[rss_link]">[rss_title]</a> - [rss_date]</h3>
		</div>
		<div class="rss-description">[rss_description]</div>
		<!--END: article-->
		<br />
	</div>
</section>