<script type="text/javascript" src="state_countryjs.asp"></script>
<script type="text/javascript" src="assets/templates/common/js/checkoutValidate.js"></script>
<script language="JavaScript" src="/assets/templates/common/js/utilities.js" type="text/JavaScript"></script>
<script type="text/javascript">
function editCard(isEdit)
{
	if (isEdit)
	{
		document.getElementById('divCard').style.display = 'none';
		document.getElementById('divCardEdit').style.display = '';
		document.getElementById('hdnEditCard').value = "1";
	}
	else
	{
		document.getElementById('divCard').style.display = '';
		document.getElementById('divCardEdit').style.display = 'none';
		document.getElementById('hdnEditCard').value = "0";
	}
}
</script>

<section id="manageMyCc">
  <h1 class="page_headers">[account_creditcard-details]</h1>
  <!--START: CATEGORY_HEADER-->
<div class="category-header" id="manageMyCcHeader">[CONTENT]</div>
  <!--END: CATEGORY_HEADER-->
  <form action="managemycc.asp" name="frmForm" id="frmForm" method="post">
    <input type="hidden" id="hdnAction" name="hdnAction" value="[hdnAction]" />
    <input type="hidden" id="pp" name="pp" value="[strCustomerPaymentProfileId]" />
    <input type="hidden" id="strSelectedGW" name="strSelectedGW" value="[strSelectedGW]">
    <input type="hidden" id="hdnEditCard" name="hdnEditCard" value="[hdnEditCardValue]" />
    <!--START: ERROR_MSG-->
    <div class="error pad10 boxShadow">[strErrMsg]</div>
    <!--END: ERROR_MSG-->
    <div class="header">
      <h3>[account_creditcard-info]</h3>
    </div>
	<!--START: CCEdit_Block-->
    <div id="divCardEdit" class="pad10 boxShadow" name="divCardEdit" style="display:[ShowCardEdit];">
	  <div class="updCcField">
        <label for="card_number">[CustomerInfo_creditcardnumber]</label>
		<!--START: cardinput-->
        <input type="text" id="card_number" name="card_number" maxlength="20" size="25" value="[card_number]" class="txtBoxStyle" [card_number_disabled] />
		<!--END: cardinput--><!--START: carddisplay-->*****[card_number]<!--END: carddisplay-->
        <div class="clear"></div>
		<!--START: CVVFIELD-->
		<label for="card_cvv2">CVV2</label>
		<input type="text" id="card_cvv2" name="card_cvv2" maxlength="5" size="4" value="" class="txtBoxStyle" />
		<!--END: CVVFIELD-->
        <div class="clear"></div>
      </div>
		<!--START: carddate-->
      <div class="updCcField">
        <label for="drpDate_original">[CustomerInfo_creditexpiration]</label>
        <select name="drpMonth" id="drpMonth" class="txtBoxStyle">
          <!--START: drpRegMonth-->
          <option value="[intMonth]" [selected]>[month]</option>
          <!--END: drpRegMonth-->
        </select>
        <select name="drpYear" id="drpYear" class="txtBoxStyle">
          <!--START: drpRegYear-->
          <option value="[year]" [selected]>[year]</option>
          <!--END: drpRegYear-->
        </select>
        <div class="clear"></div>
      </div>
		<!--END: carddate-->
      <!--START: editCard-->
      <div class="button left"><a href="#" onclick="javascript:editCard(false);" class="icon-btn icon-btn-close">[account_button-cancel]</a></div>
      <!--END: editCard-->
      <div class="clear"></div>
    </div>
  	<!--END: CCEdit_Block-->
  	<!--START: SQUARE_BLOCK-->
  	<div id="square_div" style="display: block; width: 60%; text-align: center; left: 10%; position: relative;">
  		<input type="hidden" id="sq_nonce" name="sq_nonce">
  		<div id="divSquare" style="padding: 0 30px;">
		  	<div class="clear"></div>
		  	<div>
		  		<div class="sq_colleft rr">
		  			<label for="creditcardnumber">Credit Card Number</label>
		  		</div>
		  		<div class="sq_colcenter">
			  	<div id="sq-card-number" class="sq_input"></div>
		  		</div>
		  		<div class="col2">
		  			<img src="assets/templates/common/images/error2.gif" width="12" height="12" alt="">
		  		</div>
		  	</div>
		  	<div class="clear"></div>
		  	<div>
		  		<div class="sq_colleft rr">
		  			<label>Expiration</label>
		  		</div>
		  		<div class="sq_colcenter">
		  			<div id="sq-expiration-date" class="sq_input"></div>
		  		</div>
		  		<div class="col2">
		  			<img src="assets/templates/common/images/error2.gif" width="12" height="12" alt="">
		  		</div>
		  	</div>
		  	<div class="clear"></div>
		  	<div>
		  		<div class="sq_colleft rr">
		  			<label>CVV2</label>
		  		</div>
		  		<div class="sq_colcenter">
		  			<div id="sq-cvv" class="sq_input"></div>
		  		</div>
		  		<div class="col2">
		  			<img src="assets/templates/common/images/error2.gif" width="12" height="12" alt="">
		  		</div>
		  	</div>
		  	<div class="clear"></div>
  			<div id="divsquarezip" style="display: none;">
  				<label>Postal Code</label>
  				<div id="sq-postal-code"></div>
  			</div>
  		</div>
	  	<style type="text/css">
			.sq_input {
				border: 1px solid rgb(150, 150, 150);
				outline-offset: -2px;
				margin-bottom: 5px;
				min-height: 30px;
			}

			.sq_input--focus {
				/* Indicates how form inputs should appear when they have focus */
				/*outline: 5px auto rgb(59, 153, 252);*/
			}

			.sq_input--error {
				/* Indicates how form inputs should appear when they contain invalid values */
				/*outline: 5px auto rgb(255, 97, 97);*/
			}

			.sq_colleft {
				width: 40%;
				float: left;
			}

			.sq_colcenter {
				width: 40%;
				float: left;
			}

			.col2 {
				float: left;
			}

			.rr {
				text-align: right;
				padding-right: 5px;
			}
	  	</style>

  		<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
  		<script type="text/javascript">
	  	var applicationId = '[Squaredata_environment]';
	  	// Initializes the payment form. See the documentation for descriptions of
	  	var nsqPaymentForm = new SqPaymentForm({
	  		applicationId: applicationId,
	  		inputClass: 'sq-input',
	  		inputStyles: [
				{
					color: '#000'
				},
				{
					fontWeight: 400
				},
				{
					fontSize: '12px'
				},
				{
					fontFamily: 'Tahoma'
				},
				{
					lineHeight: '1em'
				},
				{
					padding: '8px 4px'
				},
				{
					/*boxShadow: '10px 10px 5px #888888'*/
				},
				{
					backgroundColor: '#fefefe'
				}
	  		],
	  		cardNumber: {
	  			elementId: 'sq-card-number',
	  			placeholder: '**** **** **** [card_number]'
	  		},
	  		cvv: {
	  			elementId: 'sq-cvv',
	  			placeholder: 'CVV'
	  		},
	  		expirationDate: {
	  			elementId: 'sq-expiration-date',
	  			placeholder: '[month]/[year_sq]'
	  		},
	  		postalCode: {
	  			elementId: 'sq-postal-code',
	  			placeholder: ''
	  		},
	  		callbacks: {
	  			// Called when the SqPaymentForm completes a request to generate a card
	  			// nonce, even if the request failed because of an error.
	  			cardNonceResponseReceived: function (errors, nonce, cardData) {
	  				if (errors) {
	  					bolSquareNonce = false;
	  					console.log("Encountered errors:");
	  					errors.some(function (error) {
	  						console.log('  ' + error.message);
	  						switch (error.field) {
	  							case "cardNumber":
	  								jQuery("#sq-card-number").focus();
	  								break;
	  							case "cvv":
	  								jQuery("#sq-cvv").focus();
	  								break;
	  							case "expirationDate":
	  								jQuery("#sq-expiration-date").focus();
	  								break;
	  						}
	  						alert(error.message);
	  						return true;
	  					});
	  				} else {
	  					console.log('  ' + nonce);
	  					document.getElementById('sq_nonce').value = nonce;
	  					saveProfile();
	  				}
	  			},
	  			unsupportedBrowserDetected: function () {
	  				alert('Unfortunately there is a problem initianing this transaction, due to the browser version you are using.');
	  			},
	  			// Fill in these cases to respond to various events that can occur while a
	  			// buyer is using the payment form.
	  			inputEventReceived: function (inputEvent) {
	  				switch (inputEvent.eventType) {
	  					case 'focusClassAdded':
	  						// Handle as desired
	  						break;
	  					case 'focusClassRemoved':
	  						// Handle as desired
	  						break;
	  					case 'errorClassAdded':
	  						// Handle as desired
	  						break;
	  					case 'errorClassRemoved':
	  						// Handle as desired
	  						break;
	  					case 'cardBrandChanged':
	  						// Handle as desired
	  						break;
	  					case 'postalCodeChanged':
	  						// Handle as desired
	  						break;
	  				}
	  			},
	  			paymentFormLoaded: function () {
	  				// Fill in this callback to perform actions after the payment form is
	  				// done loading (such as setting the postal code field programmatically).
	  				nsqPaymentForm.setPostalCode('[billing_zip]');
	  			}
	  		}
	  	});
	  	// This function is called when a buyer clicks the Submit button on the webpage to charge their card.
	  	function SquarerequestCardNonce() {
	  		nsqPaymentForm.requestCardNonce();
	  	}
  		</script>
  	</div>
  	<!--END: SQUARE_BLOCK-->
    <div id="divCard" class="pad10 boxShadow" name="divCard" style="display:[ShowCard];">
	<!--START: ccmessage-->
      <div class="updCcField">
		<div class="text">[CustomerInfo_creditcardnumber] saved on [datecreated] by order <a href="ordertracking.asp?action=view&id=[ord_num]" target="_blank">[ord_inv]</a></div>
		<div class="clear"></div>
      </div>
	<!--END: ccmessage-->
      <div class="updCcField">
        <label for="card_number_original">[CustomerInfo_creditcardnumber]</label>
        <div class="text">****[card_number]</div>
        <input type="hidden" id="card_number_original" name="card_number_original" value="[card_number]" />
        <div class="clear"></div>
      </div>
		<!--START: displayexp-->
      <div class="updCcField">
        <label for="drpDate_original">[CustomerInfo_creditexpiration]</label>
        <div class="text">[month] - [year]</div>
        <input type="hidden" id="drpMonth_original" name="drpMonth_original" value="[month]" />
        <input type="hidden" id="drpYear_original" name="drpYear_original" value="[year]" />
        <div class="clear"></div>
      </div>
		<!--END: displayexp-->
      <!--START: edit_card-->
      <div class="button left"><a href="#" onclick="javascript:editCard(true);" class="icon-btn icon-btn-edit">[account_creditcard-edit]</a></div>
      <!--END: edit_card-->
      <div class="clear"></div>
    </div>

    <!--START: billing_info-->
    <div class="header">
      <h3>[account_billing-info]</h3>
    </div>
    <div class="ccBillingInfo pad10 boxShadow"> 
      <!--START: authNet-->
      <div class="updCcField">
        <label for="billing_firstname">[CustomerInfo_firstname]</label>
	  	<input size="40" name="billing_firstname" value="[billing_firstname]" tabindex="1" class="txtBoxStyle required" />
        <div class="clear"></div>
      </div>
      <div class="updCcField">
        <label for="billing_lastname">[CustomerInfo_lastname]</label>
	  	<input size="40" name="billing_lastname" value="[billing_lastname]" tabindex="2" class="txtBoxStyle required" />
        <div class="clear"></div>
      </div>
      <!--START: company-->
      <div class="updCcField">
        <label for="billing_company">[CustomerInfo_company]</label>
        <input size="40" name="billing_company" value="[billing_company]" tabindex="3" class="txtBoxStyle" />
        <div class="clear"></div>
      </div>
      <!--END: company--> 
      <!--END: authNet-->
      <div class="updCcField">
        <label for="billing_address">[CustomerInfo_address]</label>
	  	<input size="40" name="billing_address" value="[billing_address]" tabindex="4" class="txtBoxStyle required" />
        <div class="clear"></div>
      </div>
	<!--START: address2-->

      <div class="updCcField">
        <label for="billing_address2">[CustomerInfo_address2]</label>
        <input size="40" name="billing_address2" value="[billing_address2]" tabindex="4" class="txtBoxStyle" />
        <div class="clear"></div>
      </div>


	<!--END: address2-->
      <!--START: city-->
      <div class="updCcField">
        <label for="billing_city">[CustomerInfo_city]</label>
	  	<input size="40" name="billing_city" value="[billing_city]" tabindex="5" class="txtBoxStyle required" />
        <div class="clear"></div>
      </div>
      <!--END: city--> 
      <!--START: country-->
      <div class="updCcField">
        <label for="billing_country">[CustomerInfo_country]</label>
        <select name="billing_country" onchange="this.form.billing_zip.value = ''; populateState('billing_state', 'billing_country', '', undefined, ''); check_stateValidator('billing'); check_address('billing');" tabindex="6" class="txtBoxStyle" id="billing_country">
        </select>
        <div class="clear"></div>
      </div>
      <!--END: country--> 
      <!--START: state-->
      <div class="updCcField">
        <label for="billing_state">[CustomerInfo_state]</label>
        <select id="billing_state" onChange="this.form.billing_zip.value='';check_address('billing');" name="billing_state" tabindex="7" class="txtBoxStyle">
        </select>
        <div class="clear"></div>
      </div>
      <!--END: state-->
      <div class="updCcField">
        <label for="billing_zip">[CustomerInfo_zip]</label>
	  	<input name="billing_zip" maxlength="20" type="text" id="billing_zip" value="[billing_zip]" size="10" class="txtBoxStyle required validate-number" onchange="clearContent(this); check_address('billing');" />
        <div class="clear"></div>
      </div>
    </div>
    <!--END: billing_info-->
    <div class="update-btn">
        <input type="button" id="cmdCancel" name="cmdCancel" onclick="javascript:location.href='myaccount.asp';" class="btn" value="[account_button-back]" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" />
        <input type="button" id="cmdDelete" name="cmdDelete" onclick="javascript:deleteProfile();" class="btn" value="[account_button-delete]" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" />
        <!--START: save-->
        <input type="button" id="cmdSave" name="cmdSave" onclick="javascript: saveProfile();" class="btn" value="[account_button-Save]" onmouseover="	this.className = 'btn_over'" onmouseout="	this.className = 'btn'" />
        <!--END: save-->
        <div class="clear"></div>
    </div>
  </form>
  <div class="clear"></div>
  <!--START: CATEGORY_FOOTER-->
<div class="category-footer" id="manageMyCcFooter">[CONTENT]</div>
  <!--END: CATEGORY_FOOTER--> 
</section>
<script type="text/javascript">
initCountry('[billing_country]','[billing_state]','billing_state','billing_country','');

function deleteProfile()
{
	var rep = confirm("[account_creditcard-delete-confirmation]");
	
	if (rep)
	{
		document.frmForm.hdnAction.value = "delete";
		document.frmForm.submit();
	}
}
var bolSquareNonce = false;
function saveProfile()
{
	var strMsg = "";
	//<!--START: ccValidation-->
	if (document.frmForm.card_number.value.trim() == "")
		strMsg += " - [CustomerInfo_creditcardnumber] cannot be blank.\n";
	//<!--END: ccValidation-->

	//<!--START: cvvValidation-->
	if (document.frmForm.card_cvv2.value.trim() == "")
		strMsg += " - CVV cannot be blank.\n";
	//<!--END: cvvValidation-->
	try {



	if (document.frmForm.drpMonth.value.trim() == "" || document.frmForm.drpYear.value.trim() == "")
		strMsg += " - [CustomerInfo_creditexpiration] is invalid.\n";
		
	//<!--START: authNetValidation-->
	if (document.frmForm.billing_firstname.value.trim() == "")
		strMsg += " - [CustomerInfo_firstname] cannot be blank.\n";
	if (document.frmForm.billing_lastname.value.trim() == "")
		strMsg += " - [CustomerInfo_lastname] cannot be blank.\n";
	//<!--END: authNetValidation-->

	if (document.frmForm.billing_address.value.trim() == "")
	    strMsg += " - [CustomerInfo_address] cannot be blank.\n";

    //<!--START: CityValidation-->
	if (document.frmForm.billing_city.value.trim() == "")
		strMsg += " - [CustomerInfo_city] cannot be blank.\n";
	//<!--END: CityValidation-->

    //<!--START: CountryValidation-->
	if (document.frmForm.billing_country.value.trim() == "")
		strMsg += " - [CustomerInfo_country] cannot be blank.\n";
    //<!--END: CountryValidation-->

    //<!--START: StateValidation-->
	if (document.frmForm.billing_state.value.trim() == "")
		strMsg += " - [CustomerInfo_state] cannot be blank.\n";
    //<!--END: StateValidation-->   

	if (document.frmForm.billing_zip.value.trim() == "")
		strMsg += " - [CustomerInfo_zip] cannot be blank.\n";

	}
	catch (e) { }

	if (strMsg != ""){
		alert(strMsg);
		return false;
	}

	//try if square method is present
	if (jQuery("#sq_nonce").length > 0) {
		if (bolSquareNonce == false) {
			bolSquareNonce = true;
			nsqPaymentForm.setPostalCode(jQuery('#billing_zip').val());
			SquarerequestCardNonce();//function in checkout-singlepage.html
			return;
		}
	}

	if (jQuery("#hdnAction").val() == "addnew")
	    document.frmForm.hdnAction.value = "savenew";
	else
	    if (jQuery("#hdnAction").val() == "")
	        document.frmForm.hdnAction.value = "save";


	document.frmForm.submit();
}

String.prototype.trim = function() {
	return this.replace(/^\s+|\s+$/g,"");
}


function check_stateValidator(type) {
	if (type == 'billing') {
		if (document.frmForm.billing_state.type == 'select-one') //billingStateType)
		{

			frmvalidator.addValidation("billing_state", "req", "Please enter/select your billing state");
			frmvalidator.addValidation("billing_state", "maxlen=100");
			billingStateType = document.frmForm.billing_state.type;
		}
	}
	else {
		if (document.frmForm.shipping_state.type == 'select-one') {
			frmvalidator.addValidation("shipping_state", "req", "Please enter/select your shipping state");
			frmvalidator.addValidation("shipping_state", "maxlen=100");
			shippingStateType = document.frmForm.shipping_state.type;
		}
	}
}
</script>