.orderHistory-message {
    margin: 0 0 35px;
}
.titles-history {
    text-transform: uppercase;
}
@media(min-width: 992px) {
    .total-summary {
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 991px) {
	.details_row {
		padding: 10px 0;
		margin: 15px auto;
		-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	}
	.details_row:nth-child(2n) {
		background: #EAE9E9;
		background: rgba(234, 233, 233, 0.3);
		background-color: #EAE9E9;
		background-color: rgba(234, 233, 233, 0.3);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99EAE9E9, endColorstr=#99EAE9E9);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99EAE9E9, endColorstr=#99EAE9E9)";
	}
}